<div class="ediciones">
  <section>
    <h2>Ediciones Pasadas de La Gazeta</h2>
    <ul>
      <li> ■ Edicion29 - 02/09/2022<br> Expediciones: La Fosa </li>
      <li> ■ Edicion28 - 16/06/2022<br> Actualización: Ponte a Prueba</li>
      <li> ■ Edicion27 - 21/04/2022<br> PC: Migración a Steam</li>
      <li> ■ Edicion26 -28/03/2022<br> SPP: Nota de desahucio</li>
      <li> ■ Edicion25 - 23/02/2022<br> Hoja de ruta para el 2022 </li>
      <li> ■ Edicion24 - 07/02/2022<br> Vuelve el Fasnatch</li>
      <li> ■ Edicion23 - 14/01/2022<br> No estamos solos: Invasores de la galaxia</li>
      <li> ■ Edicion22 - 29/11/2021<br> Próxima actualización: La noche del Hombre polilla</li>
      <li> ■ Edicion21 - 17/11/2021<br> Tercer aniversario deFallout 76 </li>
      <li> ■ Edicion20 - 19/10/2021<br> Semana de la caída de las bombas </li>
      <li> ■ Edicion19 - 01/10/2021<br> Se abre nuevamente el servidor de pruebas</li>
      <li> ■ Edicion18 - 16/09/2021<br> Evento de mineros topo buscadores de tesoros</li>
      <li> ■ Edicion17 - 31/08/2021<br> Que nos espera en la próxima actualización?</li>
      <li> ■ Edicion16 - 18/08/2021<br> Evento doble experiencia. Como aprovecharlo al máximo? </li>
      <li> ■ Edicion15 - 09/08/2021<br> Rifle de plasma del enclave. Vale la pena?</li>
      <li> ■ Edicion14 - 21/07/2021<br> Los mundos de Fallout</li>
      <li> ■ Edicion13 - 09/07/2021<br> Artesanía legendaria</li>
      <li> ■ Edicion12 - 02/07/2021<br> Quien es Minerva?</li>
      <li> ■ Edicion11 - 14/06/2021<br> Se acerca reinado del acero</li>
      <li> ■ Edicion10 - 24/05/2021<br> Se vienen cambios "legendarios"</li>
      <li> ■ Edicion9 - 14/05/2021<br> Atención! El servidor de pruebas público abriría hoy sus puertas</li>
      <li> ■ Edicion8 - 03/05/2021<br> Que podemos esperar de la siguiente actualización?</li>
      <li> ■ Edicion7 - 27/04/2021<br> LLega "Cargado y a punto"</li>
      <li> ■ Edicion6 - 24/03/2021<br> Develada la hoja de ruta para el 2021</li>
      <li> ■ Edicion5 - 12/03/2021<br> Ya está abierto el servidor de pruebas</li>
      <li> ■ Edicion4 - 05/03/2021<br> Novedades en la apertura del SPP</li>
      <li> ■ Edicion3 - 11/02/2021<br> Vuelven los mineros topo buscadores de tesoros</li>
      <li> ■ Edicion2 - 28/01/2021<br> Se acerca una actualización muy S.P.E.C.I.A.L!</li>
      <li> ■ Edicion1 - 27/01/2021<br> LLega el parche de inventario</li>
    </ul>
  </section>
</div>