<div class="div-utilidades">

  <section>
    <h2>GUIAS</h2>
    <ul>
      <li><a id="servoarmaduras" href="/index.html#guias/servoarmaduras"> ■ Comparación servoarmaduras</a></li>
      <li><a id="experiencia" href="/index.html#guias/experiencia"> ■ Puntos de Experiencia</a></li>
      <li> ■ Builds</li>
    </ul>
  </section>

  <section>
    <h2>MINERVA</h2>
    <ul>
      <li> ■ Ubicación actual</li>
      <li> ■ Historial</li>
    </ul>
  </section>

  <section>
    <h2>EVENTOS DE TEMPORADA</h2>
    <UL>
      <li><a id="mineros" href="/index.html#guias/mineros">■ Mineros Topo Buscadores de Teroros</a></li>
      <li> ■ Invasores de la Galaxia</li>
      <li> ■ Calcinados Espeluznantes</li>
    </UL>
  </section>