<div class="div-experiencia div-ut">
  <section>
    <h2>Guía de XP</h2>
    <h3>La siguiente guía los ayudará a ganar mas puntos de experiencia durante sus aventuras por Appalachia. Todas las bonificaciones mencionadas son acumulativas con algunas excepciones que mencionaremos.</h3>
    <p>Dormir en una cama cómoda te otorga un 5%+ de XP durante una hora. Si estás en tu CAMP y tienes un aliado el efecto durará 3hs</p>
    <p>Utiliza el extra “Inspirador”. Obtendrás 5, 10 o 15%+ de XP al estar en equipo según las estrellas del extra.</p>
    <p>Abrir tarteras es uno de los bonus más poderosos de XP, puesto que cada una otorga un 25%+, con un máximo del 100% al abrir 4 tarteras. Recuerda que el efecto funciona para quienes te rodeen, así que procura abrirlas con tus amigos.</p>
    <p>Consumir un “Cabezón  Líder” te dará un 5%+ de XP.</p>
    <p>Completar el evento “El camino a la iluminación” e interactuar con el Hombre Polilla te dará un 5%+ de XP durante una hora.</p>
    <p>La inteligencia es un pilar fundamental para ganar más XP. Cuanto más inteligencia tenga nuestro personaje más experiencia ganaremos (aproximadamente un 2% por cada punto de INT).</p>
    <p>Los mentats de frutos rojos nos otorgan +5 INT durante 5 minutos (ese efecto puede alargarse con la perk “yonqui de las drogas”)</p>
    <p>Utilizar armadura interior 	casual con revestimiento blindado subirá 3 puntos más nuestra inteligencia.</p>
    <p>En cuanto a la armadura, el prefijo legendario inflexible brinda 3 puntos más de cada SPECIAL, entre ellos inteligencia, al tener la salud por debajo del 20%. También hay un efecto legendario correspondiente al 2do prefijo que sube 1 punto de un determinado SPECIAL, por lo que existen piezas que tienen el efecto +1 INT.</p>
    <p>Unirte a un equipo público “informal” sube también la inteligencia en 1 punto por cada miembro del equipo.</p>
    <p>Hay algunas mutaciones que potencian la inteligencia: Lumbreras +6 INT y Mentalidad colectiva +2 INT al estar en equipo. Si utilizas la perk asociación de mutantes y tus compañeros de equipo también tienen mutaciones estos efectos se potencian un 25%, otorgando en total +8 INT y +2.5 INT respectivamente.</p>
    <p>En cuanto a la comida, los beneficios son diferentes dependiendo de si llevas equipada la mutación de carnívoro o herbívoro, según muestran los siguientes cuadros: </p>
    
    <p>Herbívoros</p>
    <div class="div-table">
      <table>
        <tr>
          <th>Alimento</th>
          <th>Beneficio base</th>
          <th>+ mutacion herbívoro</th>
          <th>+ asociación de mutantes</th>
          <th>+ revista "Vive y Ama #3"</th>
        </tr>
        <tr>
          <td>Salsa de arándanos</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sopa de hongo cerebral</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Bombas cerebrales</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="div-table">
      <p>Carnívoros</p>
      <table>
        <tr>
          <th>Alimento</th>
          <th>Beneficio base</th>
          <th>+ mutación carnívoro</th>
          <th>+ asociación de mutantes</th>
        </tr>
        <tr>
          <td>Ardilla guisada sabrosa</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Estofado de carne enlatada</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cerebro de bestia calcinada horneado</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </section>
</div>