<section class="div-mineros div-ut">
  
  <h2> Lista de posibles recompensas</h2>
  
  <h3>Trajes</h3>
  <ul>
    <li>■ Casco de capataz de Garrahan</li>
    <li>■ Traje de capataz de Garrahan</li>
    <li>■ Gorro de cazador de sanguinarios</li>
    <li>■ Traje de cazador de sanguinarios</li>
    <li>■ Máscara del monstruo de Grafton</li>
    <li>■ Traje de forzudo</li>
  </ul>
  
  <h3>Armas</h3>
  <ul>
    <li>■ Cañonero maldito</li>
    <li>■ Hoz maldita</li>
    <li>■ Palo de amasar maldito</li>
  </ul>
  
  <h3>Planos</h3>
  <ul>
    <li>■ Plano: Mochila Safari de Gorila</li>
    <li>■ Plano: Mochila Safari Crocolossus</li>
    <li>■ Plano: Mochila de Camuflaje</li>
    <li>■ Plano: Barricada de cemento crudo </li>
    <li>■ Plano: Acuario televisor</li>
    <li>■ Plano: Campana del parque de bomberos</li>
    <li>■ Plano: Tubo de grillo de cueva</li>
    <li>■ Plano: Tubo de yao guai</li>
    <li>■ Plano: Tubo de calcinado</li>
    <li>■ Plano: Peluche de Wanamingo</li>
    <li>■ Plano: Peluche de Snallygaster</li>
    <li>■ Plano: Peluche de bestia calcinada reina</li>
    <li>■ Plano: Alfombra de pájaros de Virginia Occidental</li>
    <li>■ Plano: Estatua de Vault Girl pequeña</li>
    <li>■ Plano: Alfombra del refugio 76</li>
    <li>■ Plano: Arco de globos</li>
    <li>■ Plano: Ramo de globos de estrellas</li>
    <li>■ Plano: Reloj de cafetería don luz de neon</li>
    <li>■ Plano: Fuente de desguace</li>
    <li>■ Plano: Cama de clavos</li>
    <li>■ Plano: Payaso animatrónico</li>
    <li>■ Plano: Lámpara del monstruo de Grafton</li>
    <li>■ Plano: Remolque de circo</li>
    <li>■ Plano: Casco de armadura de marine</li>
    <li>■ Plano: Sombrero de buscador de tesoros</li>
    <li>■ Plano: Traje de buscador de tesoros</li>
    <li>■ Plano: Sombrero de insurgente</li>
    <li>■ Plano: Atuendo de insurgente</li>
    <li>■ Plano: Cuchillo de caza de mutaciervo</li>
    <li>■ Plano: Pintura de supermaza de forzudo</li>
    <li>■ Plano: Pintura de los gatos del átomo  para lanzamisiles</li>
    <li>■ Plano: Pintura de camuflaje azul para arma laser</li>
    <li>■ Plano: Pintura de pepitas rosas para servoarmadura</li>
    <li>■ Plano: Caja de suministros pequeña</li>
  </ul>
</section>