<div class="div-servos div-ut">
    <section>
        <h2>Comparación de resistencias de servoarmaduras</h2>
        <div class="div-table">
            <table>
                <tr>
                    <th>Servo</th>
                    <th>Balístico</th>
                    <th>Energía</th>
                    <th>Radiación</th>
                    <th>Total</th>
                    <th>Bonificaciones</th>
                </tr>
                <tr>
                    <td>T-65</td>
                    <td>565</td>
                    <td>470</td>
                    <td>470</td>
                    <td>1505</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ENREDADERA</td>
                    <td>453</td>
                    <td>393</td>
                    <td>500</td>
                    <td>1346</td>
                    <td>Los ataques armados producen daño por ácido</td>
                </tr>
                <tr>
                    <td>X-01</td>
                    <td>398</td>
                    <td>453</td>
                    <td>453</td>
                    <td>1304</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ULTRACITA</td>
                    <td>453</td>
                    <td>393</td>
                    <td>393</td>
                    <td>1239</td>
                    <td></td>
                </tr>
                <tr>
                    <td>T-51</td>
                    <td>454</td>
                    <td>454</td>
                    <td>305</td>
                    <td>1213</td>
                    <td></td>
                </tr>
                <tr>
                    <td>T-60</td>
                    <td>400</td>
                    <td>370</td>
                    <td>415</td>
                    <td>1185</td>
                    <td></td>
                </tr>
                <tr>
                    <td>T-45</td>
                    <td>360</td>
                    <td>360</td>
                    <td>360</td>
                    <td>1080</td>
                    <td></td>
                </tr>
                <tr>
                    <td>HELLCATS</td>
                    <td>436</td>
                    <td>320</td>
                    <td>320</td>
                    <td>1076</td>
                    <td>Reduce 12% el daño balístico</td>
                </tr>
                <tr>
                    <td>SINDICATO</td>
                    <td>485</td>
                    <td>295</td>
                    <td>265</td>
                    <td>1045</td>
                    <td>+150 de resistencia al ácido, +75 capacidad de carga</td>
                </tr>
                <tr>
                    <td>SAQUEADOR</td>
                    <td>341</td>
                    <td>341</td>
                    <td>341</td>
                    <td>1023</td>
                    <td></td>
                </tr>
                <tr>
                    <td>EXCAVADORA</td>
                    <td>240</td>
                    <td>240</td>
                    <td>366</td>
                    <td>846</td>
                    <td>X4 minerales al excavar, +100 capacidad de carga</td>
                </tr>
            </div>
        </table>
    </section>
</div>